// _variables.scss
@use 'variables'as *;


// base
* {
    // outline: 1px solid green;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-size: 16px;
    color: $text-primary-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
}

p {
    line-height: 1.5;
}

// gutter


.pb-100 {
    padding-bottom: 100px;
}


// custom module
.container {
    max-width: 1085px;
    margin: 0 auto;
    border: 1px solid red;
}

.btn {
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    color: #FFFFFF;

    &-info {
        padding: 15.5px 32px;
        background-color: $primary-color;
        font-size: 18px;
        translate: background-color .15s ease-in-out;

        &:hover {
            background-color: darken($primary-color, 10%);
        }

    }

    &-danger {
        background: $danger-color;
        padding: 12px 32px;
        translate: background-color .15s ease-in-out;

        &:hover {
            background-color: darken($danger-color, 10%);
        }
    }
}

.intro {
    text-align: center;

    &-text {
        margin-bottom: 48px;

        .title {
            font-size: 32px;
            font-weight: bold;
        }

        .subtitle {
            margin-top: 16px;
            font-size: 20px;
            font-weight: normal;

        }
    }

    &-item {
        width: 260px;
        margin-bottom: 24px;
        border-radius: 15px;
        box-shadow: 0 2px 10px #00000014;
        background: #fff; //預設是「transparent」

        img {
            border-radius: 15px 15px 0 0;
        }

        .name {
            padding: 16px 0;
            font-weight: bold;
            color: $primary-color;
        }

        p {
            padding-bottom: 24px;
            line-height: 1.5;

        }

    }

}

.info {
    .title {
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 18px;
        color: $primary-color;
    }

    p {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 48px;
        line-height: 1.5;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 32px;

    }
}

.go-top {
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 50%;
    background-color: $primary-color;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    position: fixed;
    bottom: 23px;
    right: 48px;
    translate: background-color .15s ease-in-out;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

.copyright {
    padding: 16px 0;
    background: #F5F5F5;
}


// layout
.d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




// index.scss
.index {
    max-width: 1366px;
    margin: 0 auto;
    border: 1px solid green;
    // ball-1
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg);
    background-repeat: no-repeat;
    background-position: -222px 588px;
}


.header {
    height: 768px;
    margin-bottom: 100px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;

    .logo {
        align-items: center;
        margin-bottom: 30px;
        padding: 24px 0;

        img {
            max-width: 215px;
            // max-height: 40px;
        }


    }

    .banner {

        align-items: center;

        img {
            max-width: 50%;
        }


    }


}

.main {
    margin-bottom: 100px;
    background-image:
        url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg),
        url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
    background-repeat: no-repeat;
    background-position: right -100px top 778px,
        left 45px bottom 340px;

    .container {
        &>div {
            padding-bottom: 100px;
        }
    }

    .medias {
        // padding: 0 59.5px;

        max-width: 969px;
        margin: 0 auto;
    }

    .media {
        width: 245px;
        margin-bottom: 24px;

        img {
            width: 90px;
            margin: 0 auto;
        }

        &-title {
            padding: 24px 0;
            font-size: 24px;
            font-weight: bold;
        }

        p {
            padding: 0;
            line-height: 1.5;
            color: #747474;
        }
    }

    .effects {
        text-align: left;
        align-items: center;

        ul {
            width: 50%;


        }

        .intro-item {
            width: 230px;
            padding: 32px;

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 28px;
            }


            p {
                padding-bottom: 16px;
            }

            .icon {
                max-width: 86px;
                height: 86px;
                padding: 15px 0;
                border-radius: 50%;
                box-shadow: 0 2px 10px #00000014;

                img {
                    max-width: 52px;
                    height: 52px;
                    border-radius: 0;
                    margin: 0 auto;
                }
            }

            .name {
                font-size: 18px;
                padding-top: 24px;
                line-height: 26px;

            }



        }

        .intro-text {
            padding-right: 46px;
            margin-bottom: 0;

            .title {
                line-height: 1.5;

            }

            .subtitle {
                font-size: 18px;
                margin-bottom: 24px;
            }

        }



    }

    .reviews {

        .intro-text {
            margin-bottom: 104px;
        }

        .intro-item {
            width: 352px;
            margin-bottom: 0;
            padding: 24px 32px;
            text-align: left;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }

            .photo {
                max-width: 80px;
                height: 80px;
                border-radius: 50%;
                box-shadow: 0 2px 10px #00000014;
                position: absolute;
                top: -56px;
            }

            p {
                padding: 24px 0;
                border-bottom: 1px solid #DDDDDD;
            }

            .name {
                padding: 24px 0;
                font-size: 16px;
                color: $text-primary-color;
            }
        }

        .stars {
            align-items: end;

            img {
                width: 16px;
                height: 16px;
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .pages {
            margin-top: 24px;
            justify-content: center;

            .page {
                width: 10px;
                height: 10px;
                margin-right: 8px;
                border-radius: 50%;
                background: #DDDDDD;

                &:last-child {
                    margin-right: 0;
                }
            }

            .action {
                width: 16px;
                border-radius: 12px;
                background: #FFD153;
            }
        }
    }

}

.footer {
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
    background-repeat: no-repeat;
    background-size: contain;

    .info {
        padding: 260px 0 100px 0;

        h2 {
            margin-bottom: 48px;
            font-size: 32px;
            font-weight: bold;
        }
    }


}


// @media (max-width:991px){
//     .d-flex {
//         justify-content: space-around;
//     }
// }


@media (max-width:767px) {
    .d-flex {
        justify-content: space-around;
    }



    .main {
        .container {
            &>div {
                padding-bottom: 60px;
            }
        }

        .medias {
            ul.d-flex {
                flex-direction: column;
                align-items: center;
            }
        }

        .roles {
            .d-flex {
                justify-content: center;
            }

            .intro-item {
                margin: 0 16px;
                margin-bottom: 24px;
            }

        }

        .effects {

            &.d-flex {
                flex-direction: column-reverse;
            }

            // ul.d-flex {
            //     flex-direction: column;
            //     align-content: center;
            // }

            .intro-text {
                text-align: center;
                padding-right: 0;
                margin-bottom: 32px;
            }

        }


        .reviews{
            .review-list {
                flex-direction: column;
                align-content: center;
            }
            .intro-item{
                margin-bottom: 65px;
            }
        }
        

    }




}


@media (max-width:576px) {
    .intro {
        &-text {
            margin-bottom: 32px;

            .title {
                font-size: 28px;

            }

            .subtitle {
                margin-top: 16px;
                font-size: 18px;
                font-weight: normal;

            }
        }

        .intro-item {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;

            }

        }
    }

    .info {
        line-height: 1.5;

        .title {
            margin-bottom: 8px;
            font-weight: bold;
            font-size: 16px;
            color: $primary-color;
        }

        p {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 32px;
            line-height: 1.5;
        }

        h2 {
            font-size: 16px;
        }
    }

    .btn {
        .btn-info {
            padding: 12px 32px;
        }
    }

    .go-top {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        position: fixed;
        bottom: 10%;
        right: 15%;
    }

    .index {
        max-width: 375px;
        margin: 0 auto;
        background-image: none;


    }

    .container {
        min-width: 375px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .header {
        height: auto;
        margin-bottom: 60px;
        padding-bottom: 32px;
        background-image: none;


        .logo {
            margin-bottom: 32px;
            padding: 16px 0;
            border-bottom: 1px solid #FFD153;


            img {
                width: 130px;
            }
        }

        .banner {
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
            background-repeat: no-repeat;
            background-size: 334px auto;
            background-position: center bottom;

            img {
                min-width: 304px;
            }
        }
    }

    .main {
        margin-bottom: 60px;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg),
            url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg),
            url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
        background-repeat: no-repeat;
        background-size: 126px, 135px, 153px;
        background-position: left -77px top 0px, right -47px top 2239px, left -77px bottom 270px;

        .container {
            &>div {
                padding-bottom: 60px;
            }
        }

        .medias {

            .d-flex {
                flex-direction: column;
                align-content: center;
            }
        }

        .media {
            margin-bottom: 24px;


            &:last-child {
                margin-bottom: 0;

            }

            img {
                max-width: 60px;
                height: 60px;
                margin: 0 auto;
            }

            &-title {
                padding: 16px 0;
                font-size: 18px;
            }

            p {
                padding: 0;
                line-height: 1.5;
                color: #747474;
            }
        }

        .roles {

            .d-flex {
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }

            .intro-item {

                &:last-child {
                    margin-bottom: 0;
                    // margin-bottom: 32px;

                }

            }

        }


        .effects {

            &.d-flex {
                flex-direction: column-reverse;
            }

            ul.d-flex {
                width: 100%;
                flex-direction: column;
                align-content: center;
            }

            .intro-text {
                text-align: center;
                margin-right: 0;
                margin-bottom: 32px;
            }

        }


        .reviews {
            .intro-text {
                margin-bottom: 88px;
            }

            .intro-item {
                margin-bottom: 0;
                padding: 16px;

                &:nth-child(2),
                &:nth-child(3) {
                    display: none;
                }

                .photo {
                    left: 32px;
                }

                p {
                    padding: 32px 0 16px 0;
                }

                .name {
                    padding: 16px 0;
                }

            }

        }
    }

    .footer {
        text-align: center;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg);
        background-repeat: no-repeat;
        background-size: contain;

        .info {
            padding: 293px 0 60px 0;


            h2 {
                margin-bottom: calc(48px / 2);
                font-size: 1.5rem;

            }

            .btn-info {
                padding: 12px 32px;
            }
        }


    }

}